.components .navbar{
    -webkit-transition: all 150ms linear !important;
    -moz-transition: all 150ms linear !important;
    -o-transition: all 150ms linear !important;
    -ms-transition: all 150ms linear !important;
    transition: all 150ms linear !important;
    max-height: 70px !important;
}
.components .navbar-title{
    height: 100% !important;
}
.components .navbar-title h4{
    line-height: 12px !important;
    margin-top: 16px !important;
    margin-bottom: 5px !important;
}

.components .navbar-title img{
    width: 100%
}

.components .header-wrapper .navbar-default{
    box-shadow: 0 14px 20px -12px rgba(0, 0, 0, 0.2) !important;
    color: #444 !important;
    background-color: white !important;
}
.components .header-wrapper .navbar-default .btn{
    color: #444 !important;
}
.components .navbar-center{
    float: none !important;
    display: inline-block !important;
}
.components .navbar-title .image-container{
    height: 40px !important;
    width: 40px !important;
    display: inline-block !important;
    top: -3px !important;
    position: relative !important;
}

.components .tim-row{
    margin-bottom: 40px !important;
}
.components .tim-row h2{
    margin-top: 90px
}

.components pre.prettyprint{
    background-color: #eee !important;
    border: 0px !important;
    margin-bottom: 0 !important;
    margin-top: 20px !important;
    padding: 20px !important !important;
    text-align: left !important;
    border: 1px solid #ccc !important !important;
}
.components .tim-row:last-child pre{
    position: relative !important;
    width: 100% !important;
}
.components .atv, .components  .str{
    color: #05AE0E !important;
}
.components .tag, .components .pln, .components .kwd{
    color: #3472F7 !important;
}
.components .atn{
    color: #2C93FF !important;
}
.components .pln{
    color: #333 !important;
}
.components .com{
    color: #999 !important;
}
.components .space-top{
    margin-top: 50px !important;
}
.components .btn-primary .caret{
    border-top-color: #3472F7 !important;
    color: #3472F7 !important;
}
.components .area-line{
    border: 1px solid #999 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    color: #666 !important;
    display: block !important;
    margin-top: 20px !important;
    padding: 8px 0 !important;
    text-align: center !important;
}
.components .area-line a{
    color: #666 !important;
}
.components .container-fluid{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.components .logo-container .logo{
    overflow: hidden !important;
    border-radius: 50% !important;
    border: 1px solid #333333 !important;
    width: 50px !important;
    float: left !important;
}
.components .header-wrapper {
    position: relative !important;
    height: 500px !important;
}

.components .header-wrapper .header {
    background-position: center center !important;
    background-size: cover !important;
    height: 450px !important;
    overflow: hidden !important;
    position: absolute !important;
    width: 100% !important;
    z-index: 1 !important;
}
.components .header-wrapper .header .filter::after {
    background: -moz-linear-gradient(top, #1DC7EA 0%, rgba(5, 143, 170, 0.6) 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1DC7EA), color-stop(100%, rgba(5, 143, 170, 0.6))) !important;
    background: -webkit-linear-gradient(top, #1DC7EA 0%, rgba(5, 143, 170, 0.6) 100%) !important;
    background: -o-linear-gradient(top, #1DC7EA 0%, rgba(5, 143, 170, 0.6) 100%) !important;
    background: -ms-linear-gradient(top, #1DC7EA 0%, rgba(5, 143, 170, 0.6) 100%) !important;
    background: linear-gradient(to bottom, #1DC7EA 0%, rgba(5, 143, 170, 0.6) 100%) !important;
    content: "" !important;
    display: block !important;
    height: 450px !important;
    left: 0 !important;
    opacity: 0.77 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 2 !important;
}
.components .header-wrapper .title-container{
    color: #fff !important;
    position: relative !important;
    top: 85px !important;
    z-index: 3 !important;

}

.components .title-container img{
    width: 100px !important;
    height: auto !important;
}
.components .logo-container .brand{
    font-size: 18px !important;
    color: #FFFFFF !important;
    line-height: 20px !important;
    float: left !important;
    margin-left: 10px !important;
    margin-top: 5px !important;
    width: 50px !important;
    height: 50px !important;
}
.components .navbar-default .logo-container .brand{
    color: #444 !important;
}
.components .navbar-default.navbar-transparent .logo-container .brand{
    color: #FFFFFF !important;
}
.components .navbar-default.navbar-transparent .navbar-nav>li>a{
    color: #FFFFFF !important;
}
.components .logo-container{
    margin-top: 10px !important;
}
.components .logo-container .logo img{
    width: 100% !important;
}
.components .navbar-small .logo-container .brand{
    color: #333333 !important;
}

.components .navbar.navbar-transparent{
    background-color: transparent !important;
    box-shadow: none !important;
    color: #fff !important;
    border: 0 !important;
    padding-top: 0px !important;
}

.components .fixed-section{
    max-height: 80vh !important;
    overflow: scroll !important;
    top: 110px !important;
}
.components .fixed-section ul li{
    list-style: none !important;
}
.components .fixed-section li a{
    font-size: 14px !important;
    padding: 2px !important;
    display: block !important;
    color: #666666 !important;
}
.components .fixed-section li a.active{
    color: #00bbff !important;
}
.components .fixed-section.float{
    position: fixed !important;
    top: 100px !important;
    width: 200px !important;
    margin-top: 0 !important;
}
.components .copyright {
    color: #777777 !important;
    padding: 10px 15px !important;
    font-size: 14px !important;
    margin: 15px 3px !important;
    line-height: 20px !important;
    text-align: center !important;
}

.components .table-bigboy .img-container{
    width: 130px !important;
    height: 85px !important;
}

.components .table-bigboy .td-name{
    min-width: 170px !important;
}

.components .navbar .navbar-nav > li > a.btn{
    padding: 8px 8px !important;
}

@media (max-width: 991px) {
    .components .fixed-section.affix {
        position: relative !important;
        margin-bottom: 100px !important;
    }

    .components .tim-row .nav.nav-pills{
        margin-bottom: 25px !important;
    }

    .components .nav-mobile-menu .navbar-title{
        display: none !important;
    }

}

@media (max-width: 1199px) {

  .components .navbar .navbar-brand {
    height: 50px !important;
    padding: 10px 15px !important;
  }

}

@media (max-width: 768px) {
  .components .footer .copyright {
    display: inline-block !important;
    text-align: center !important;
    padding: 10px 0 !important;
    float: none !important;
    width: 100% !important;
  }
}

@media (max-width: 830px){
    .components .main-raised{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}
.components .nav.nav-pills.nav-stacked{
    top: 100px !important;
}
.components h2:first-of-type {
    margin-top: 0px;
}
